@import url(//fonts.googleapis.com/css?family=Montserrat);

body{
    background-image: url(img/royal-family.png);
    background-size: cover;
}

.startscreen{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    font-size: large;
    color: crimson;
}

h1 {
    font-weight: bold
}

h2 {

    font-weight: bold
}

main{
    display: none;
}

.endscreen{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-image: url(img/funny-queen-38.png);
    background-position: center;
    background-size: cover;
    display: none;
    font-size: large;
    color: crimson;
}

.question{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

button{
    display: flex;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: medium;
    background-color: crimson;
    color: white;
    border: none;
    height: 5em;
    width: 15em;
}

button:hover{
    background-color: white;
    color: crimson;
}

.results{
    font-family: 'Courier New', Courier, monospace;
    background-color: crimson;
    color: white;
    border-radius: 100%;
    height: 5em;
    width: 5em;
    font-size: large;
    font-weight: bold;
}